.hg-conteudo {
    background-color: rgba(12, 7, 1, 0.959);
    background-image: url(backgroundind.jpeg);
    background-position: center;
    display: flex;
    flex-flow: column;
}

.hg-conteudo > main {
    background-color: rgba(29, 18, 1, 0.925);
    flex: 1;
}

body {
    font-family: 'Patrick Hand', cursive;
    text-shadow: #000000 2px 2px;
    color: rgb(221, 221, 221);
    font-size: 24px;
    background-size: contain;
    background-position: left;
    background-color: rgba(10, 6, 1, 0.959);
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

header{
    display: block;
    font-family: 'Devonshire', cursive;
    text-shadow: #000000 4px 4px;
    text-align: center;
    font-size: 60px;
}

.hg-conteudo {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.hg-conteudo > nav {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Devonshire', cursive;
    font-size: 28px;
    justify-content: space-around;
    padding: 8px;
    flex: 00 200px;
}

h1{
    color: rgb(221, 221, 221);
    text-align: center;
}

p{
    text-align: justify;
}

.hg-conteudo > main {
    flex: 1;
}


#devweb{
    padding: 20px;
    width: 200px;
    height: 80px;
    border-radius: 10%;
    max-width: 100%;
}

#etecab{
    width: 125px;
    height: 125px;
    padding: 20px;
    margin-left: 25px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .hg-conteudo {
        flex-flow: row;
    }

    footer{
        flex: 0 0 40px;
        font-family: 'Devonshire', cursive;
        font-size: 25px;
    }
}